.top {
  width: 100%;
  padding-top: 3em;
  height: 12em;
  padding-bottom: 3em;
}

body{
  background-image: url('/images/bluenoise.png');
}

.logo-container {
  display: block;
  margin: 0 auto;
  margin-bottom: 10pt;
  width: 350px;
  color: white;
  text-align: right;
  font-size: 1.5em;
}

.logo{
  width: 100%;
  margin-bottom: -.5em;
}

.bottom {
  background: #CCC;
  height: 100%;
}

input.search {
  width: 100%;
  height: 100%;
  font-size: 2em;
  background-image: url('/images/iDentist-Magnifying-Glass.png');
  background-repeat: no-repeat;
  background-size: 30pt 30pt;
  background-position: right;
  background-origin: content-box;
  background-padding: 5pt 10pt 5pt 10pt;
}

.search-wrapper{
  width: 100%;
  height: 40pt;
  margin: 0;
  padding: 0;
}

input::-webkit-input-placeholder { /* WebKit browsers */
  font-size: 1em;
  line-height: 1em;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
}

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

#map-canvas {
  display: none;
}
